body{
    margin: 0 auto;
    text-align: center;
    background: black;
}

h1,h2 {
    color: white;
}

#header{
    margin:-20px;
    width: 100%;
    height: 380px;
    background-repeat:no-repeat !important;
    display: inline-block !important;
    /*background-size: cover !important;*/
}