{% extends "base.html" %}
{% load bootstrap3 %}


{% block content %}
    <div class="container">
        <h1>Sign Up</h1>
        <script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&libraries=places&callback=onLoaded" async
                defer></script>

        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form user_form %}
            {{ profile_form.media }}
            {% bootstrap_form profile_form %}
            <input type="submit" value="Sign Up" class="btn btn-default">
        </form>
        <script>
            var onLoaded = function () {
                var input = document.getElementById('locationTextField');
                var autocomplete = new google.maps.places.Autocomplete(input);
            }
        </script>
    </div>
{% endblock %}
