<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap3 %}
{% load app_filters %}
<html>
<head>
    <meta charset="utf-8">
    <title>Share your ride, Save Money!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->


    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}"/>

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "css/master.css" %}">

    {% block head %}
    {% endblock %}
</head>
<body>
<!-- Navbar -->
<nav class="navbar mynav navbar-inverse" role="navigation" id="navbar">
    <div class="container">

        <a class="navbar-brand mynav" href="{% url 'home' %}">Ride Share</a>
        {% if user.is_authenticated %}
            <a href="{% url 'accounts:profile' %}" class="navbar-text">
                {% bootstrap_label user.username %}
                <span class="glyphicon glyphicon-user"></span>
            </a>
        {% endif %}
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li><a href="{% url 'notification:all' %}" class="btn btn-simple">
                    <span class="glyphicon glyphicon-bell">
                         <span class="num">{{ user|unread_count }}</span>
                    </span>
                </a></li>
                <li><a href="{% url 'journeys:all' %}" class="btn btn-simple">Journeys</a></li>
                <li><a href="{% url 'journeys:create' user_id=user.pk %}" class="btn btn-simple">Create Journey</a></li>
                <li><a href="{% url 'accounts:logout' %}" class="btn btn-simple">Log out</a></li>
                <li><a href="{% url 'journeys:search' %}" class="btn btn-simple">Search Journey</a></li>
            {% else %}

                <li><a href="{% url 'journeys:all' %}" class="btn btn-simple">Journeys</a></li>
                <li><a href="{% url 'accounts:login' %}" class="btn btn-simple">Log in</a></li>
                <li><a href="{% url 'accounts:signup' %}" class="btn btn-simple">Sign up</a></li>
                <li><a href="{% url 'journeys:search' %}" class="btn btn-simple">Search Journey</a></li>

            {% endif %}
        </ul>
    </div>
</nav>
    <!-- Below Navbar, Header and stuff -->
    {% block precontent %}
    {% endblock %}
<!-- Main Content Body -->
    <div class="container mycontent">
        {% block content %}
        {% endblock %}
    </div>


<!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "carpool/js/master.js" %}"></script>
    <script src="{% static "js/stylesheet.js" %}"></script>
</body>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li><a href="#"> Lorem Ipsum </a></li>
                        <li><a href="#"> Lorem Ipsum </a></li>
                        <li><a href="#"> Lorem Ipsum </a></li>
                        <li><a href="#"> Lorem Ipsum </a></li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li><a href="#"> Lorem Ipsum </a></li>
                        <li><a href="#"> Lorem Ipsum </a></li>
                        <li><a href="#"> Lorem Ipsum </a></li>
                        <li><a href="#"> Lorem Ipsum </a></li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li><a href="#"> Lorem Ipsum </a></li>
                        <li><a href="#"> Lorem Ipsum </a></li>
                        <li><a href="#"> Lorem Ipsum </a></li>
                        <li><a href="#"> Lorem Ipsum </a></li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li><a href="#"> Lorem Ipsum </a></li>
                        <li><a href="#"> Lorem Ipsum </a></li>
                        <li><a href="#"> Lorem Ipsum </a></li>
                        <li><a href="#"> Lorem Ipsum </a></li>
                    </ul>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li>
                            <div class="input-append newsletter-box text-center">
                                <input type="text" class="full text-center" placeholder="Email ">
                                <button class="btn  bg-gray" type="button"> Lorem ipsum <i
                                        class="fa fa-long-arrow-right"> </i></button>
                            </div>
                        </li>
                    </ul>
                    <ul class="social">
                        <li><a href="#"> <i class=" fa fa-facebook">   </i> </a></li>
                        <li><a href="#"> <i class="fa fa-twitter">   </i> </a></li>
                        <li><a href="#"> <i class="fa fa-google-plus">   </i> </a></li>
                        <li><a href="#"> <i class="fa fa-pinterest">   </i> </a></li>
                        <li><a href="#"> <i class="fa fa-youtube">   </i> </a></li>
                    </ul>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.footer-->

    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © Footer Plugin 2014. All right reserved. </p>
            <div class="pull-right">
                <ul class="nav nav-pills payments">
                    <li><i class="fa fa-cc-visa"></i></li>
                    <li><i class="fa fa-cc-mastercard"></i></li>
                    <li><i class="fa fa-cc-amex"></i></li>
                    <li><i class="fa fa-cc-paypal"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <!--/.footer-bottom-->
</footer>
</html>
