<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <title>Share your ride, Save Money!</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}" />

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'carpool/css/master.css' %}">
</head>
<body>

<nav class="navbar  mynav" role="navigation" id="navbar">
    <div class="container">

        <a class="navbar-brand mynav" href="{% url 'home' %}">Ride Share</a>

        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                {# <li><a href="{% url 'posts:create' %}" class="btn btn-simple">Post</a></li>#}
                <li><a href="{% url 'journeys:all' %}" class="btn btn-simple">Journeys</a></li>
                <li><a href="{% url 'journeys:create' user_id=user.pk %}" class="btn btn-simple">Create Journey</a></li>
                <li><a href="{% url 'accounts:logout' %}" class="btn btn-simple">Log out</a></li>
            {% else %}
                <li><a href="{% url 'journeys:all' %}" class="btn btn-simple">Journeys</a></li>
                <li><a href="{% url 'accounts:login' %}" class="btn btn-simple">Log in</a></li>
                <li><a href="{% url 'accounts:signup' %}" class="btn btn-simple">Sign up</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="container mycontent">
    {% block content %}
    {% endblock %}
</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
</body>
</html>
