{% extends 'base.html' %}
{% load app_filters %}
{% block content %}
    <div class="col-md-8">
	    <div class="list-group">
            {% for notification in object_list %}
                {% if not notification.viewed and notification.user == user %}
                    <a class="list-group-item" href="{% url 'notification:delete' notification_id=notification.pk %}">
                        <h3 class="title list-group-item-heading">{{ notification.title }}</h3>
                        <div class="list-group-item-text container-fluid">
                            {{ notification.message|safe }}
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
	    </div>
    </div>
    {% if not user|unread_count %}
        <h2>No Unread Notifications !</h2>
    {% endif %}

{% endblock %}