{% extends "journeys/journey_base.html" %}

{% block prejourney %}


    <h1 class="jumbotron">{{ journey }}</h1>
    <h2> Member Count: {{ journey.members.count }}</h2>

    <div class="content">
        {% if user in journey.members.all %}
            <a href="{% url 'journeys:leave' pk=journey.pk %}" class="btn btn-lg btn-fill btn-warning"><span
                    class="glyphicon glyphicon-remove-circle"></span> Leave</a>
        {% else %}
            <a href="{% url 'journeys:join' pk=journey.pk %}" class="btn btn-lg btn-fill btn-warning"><span
                    class="glyphicon glyphicon-ok-circle"></span> Join</a>
        {% endif %}

    </div>

{% endblock %}

{% block journey_content %}
    <h2>Members in this journey: </h2>
    {% for member in journey.members.all %}
      <h2>{{ member }}</h2>
    {% endfor %}

    <div class="col-md-8">
      <h3>{{ journey.description }}</h3>
    </div>
{% endblock %}
